{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Topics:</h1>
<div class="col-md6 border rounded">
    <ul>
        {% for topic in topics %}
        <li>
            <div class="sidenav">
                <p>
                    <a href="/topic/{{ topic.id }}">{{ topic.title }}</a>
                    {% if current_user.is_authenticated and (current_user.id == topic.author_id) %}
                    <a href="/topic_edit/{{ topic.id }}" class="btn btn-outline-info">edit</a>
                    <a href="/topic_delete/{{ topic.id }}" class="btn btn-outline-danger">delete</a>
                    {% endif %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
